$content: #ffffff;
$primary: #8086e5;

* {
	font-family: "Work Sans", "Cousine Nerd Font", serif;
	border-color: transparent;
	border-width: 0;
	outline-width: 0;
	-gtk-icon-theme: "NordArc-Icons";
}

// Windows

.eww-bar, .power, .calendar {
	background-color: transparent;
}

// Global container

.center-box {
  margin: 0px;
}

.container {
  font-size: 11pt;
	background-color: $primary;
	border-radius: 10px;
  padding: 3px 4px;
  margin: 8px 8px 0px 8px;
}

// Global button with text

.text-button, calendar {
  padding: 1px 6px 1px 3px;
  background-color: transparent;
}

// Volume & Media Revealer

.volume-revealer, .media-revealer {
	background-color: $primary;
	padding: 0px 9px 0px 6px;
	revealer box {
		label {
			margin: 0px 5px;
		}
	}
}

.media-revealer-icons {
	color: #d6e6ff;
}

// System Information

.blob {
	margin: 0px 2.5px;
	padding: 0px 2.5px;
	color: $primary;
	border-radius: 5px;
}

.disk {
	color: $content;
	background-color: #ae52da;
}

.temperature  {
	color: $content;
	background-color: #f065f5;
}

.memory  {
	color: $content;
	background-color: #ff80d9;
}

// Font

.large-font {
	font-size: 13pt;
}

.text-and-icons {
	color: $content;
}